:root{
    --white: #ffffff
}

header{
    background-color: var(--white);
    opacity: 60%;
}
body{
    background-image: url(images/background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-family: Futura Condensed Extra Bold, sans-serif;
}

h2, h3, h4, li{
    text-transform: uppercase;
    font-weight: 900;
}

p{
    font-family: 'Gilmer','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    display:flex;
    align-items: end;
    flex-direction: column;
    list-style-type: none;
}
.verborgen-titel{
    font-size: 0em;
}

.homepagina-blauw{
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.h2-introtekst{
    font-size: 1em;
    font-weight: 400;
}

.h3-introtekst{
    font-size: 4em;
}

